@import "tailwindcss";


/* body {
  @apply m-0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

body {
  margin: 0;
  min-height: 100vh;

  background-color: #ffffff;
  background-image:
    linear-gradient(to right, #f0f0f0 1px, transparent 1px),
    linear-gradient(to bottom, #f0f0f0 1px, transparent 1px);
  background-size: 42px 42px;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ProseMirror p {
  margin: 0 0 1em; /* adds spacing between paragraphs */
}

.ProseMirror {
  max-width: 900px;          /* page-like width */
  width: 100%;               /* shrink on smaller screens */
  min-height: 70vh;          /* fill most of the screen */
  max-height: 90vh;          /* cap so it doesn’t overflow */
  margin: 20px auto;         /* center it */
  padding: 40px;             /* page margins */
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  overflow-y: auto;       
}

.ProseMirror:focus {
  outline: none;
}

@keyframes waveform {
  0% {
    transform: scaleY(0.4);
    opacity: 0.6;
  }
  50% {
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    transform: scaleY(0.4);
    opacity: 0.6;
  }
}

.animate-waveform {
  transform-origin: bottom;
  animation: waveform 1.1s ease-in-out infinite;
}


/* TEXT AREA SCROLLBAR */
textarea, .ai-sidebar {
  scrollbar-width: thin;          /* Firefox */
  scrollbar-color: #6366f1 #e5e7eb; /* thumb color / track color */

}

/* Chrome, Edge, Safari */
textarea::-webkit-scrollbar {
  width: 6px;
}

textarea::-webkit-scrollbar-track {
  background: #e5e7eb; /* light gray */
  border-radius: 3px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #6366f1; /* indigo-500 */
  border-radius: 3px;
  border: 1px solid transparent;
}
